*{
  color: white;
}
body {
  background-color: #333;
}
textarea::placeholder{
  color: #333 !important;
}
input{
  color: #333;
}
.card-header{
  background: transparent !important;
}
a{
  text-decoration: none !important;
}
button:hover{
  background-color: inherit;
}